input[data-v-3cdb80a6]::placeholder{color:#999}.logo[data-v-3cdb80a6]{background-position:-2px -167px;height:31px;width:103px;background-image:url(/assets/amazon2-DKHaeq9j.png);background-size:512px 256px;background-repeat:no-repeat}
